*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

label{
    line-height: 80px;
}

label img{
    height: 40px;
    width: 400px;
}

ul{
    float: right;
    line-height: 80px;
}

ul li{
    list-style: none;
    display: inline-block;
}

ul li a{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
}

ul li a.active, a:hover{
    background-color: green;
    color: white;
    transition-duration: .6s;
}

.carousel-inner{
    height: 400px;
}

